# direnv configuration
# This will automatically add ~/bin to your PATH when you enter this directory.
# Requires direnv to be installed: https://direnv.net/

PATH_add "$HOME/bin"

# You can also add other repo-specific environment variables here.
export KUBECONFIG="$HOME/.kube/config"
